.role-mahasiswa {
    display: none;
}

.role-dosen {
    display: none;
}

.role-masyarakat {
    display: none;
}

.card-body {
    padding-bottom: 110px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}